.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
dist/extension.js.map
server/**/*.wasm.map
lelwel
testFixture/*
.gitignore
.gitmodules
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
CONTRIBUTING.md
bun.lock
*.log
coverage/**
.tsbuildinfo
