.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
dist/extension.js.map
lelwel
testFixture/*
.gitignore
.gitmodules
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CONTRIBUTING.md
cjlintignore.cfg
coverage/**
oxlint.json
.oxfmt.json
README-BUN.md